
{% extends "header.html" %}

{% block title %}Uploads{% endblock  %}

{% block content %}

<style>
.position {
  position: absolute;
  top: 150px;
  left: 500px;
}
</style>

 {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

<br>
    <br>
    <br>
    <div class="w-100 h-100 position-absolute t-25 start-25">
        <div class=" position">
            <label class="text-center"><b>Upload the images zip file:</b></label>
            <br>
            <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="disableButton()">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="zipfile" accept=".zip" required>  
                </div>

                <label class="text-center"><b>Upload the metadata csv:</b></label>

                <br>
                <br>
                <span>The csv should contain Image Filename,Brightness,Contrast	and Sharpness.
                <br>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="csv" accept=".csv" required>
                </div>
                <button id="submitBtn" type="submit" class="input-group-text bg-primary text-white"><b>Process</b></label>
            </form>
        </div>
    </div>
  <script>
    function disableButton() {
    const btn = document.getElementById("submitBtn");
    btn.disabled = true;
    btn.innerText = "Processing...";
}

  </script>
{% endblock %}